<!-- Modal de edición de perfil -->
<div class="modal-overlay">
  <div class="modal-content">
    <span class="close" (click)="onClose()">&times;</span>

    <!-- Campo editable como texto -->
    <input
      class="modal-username-input"
      type="text"
      [(ngModel)]="name"
      placeholder="Nombre artístico"
      required
    />

    <textarea
      class="modal-textarea"
      placeholder="Biografía del artista"
      [(ngModel)]="biography"
    ></textarea>

    <select
      class="modal-username-input"
      [(ngModel)]="country"
      required
    >
      <option value="" disabled>Selecciona un país</option>
      <option *ngFor="let countryOption of countries" [value]="countryOption">{{ countryOption }}</option>
    </select>

    <button class="modal-btn" (click)="onSave()">Listo</button>
  </div>
</div>
