<div class="create-playlist-overlay">
  <div class="create-playlist-dialog">
    <button class="close-btn" (click)="onClose()" aria-label="Cerrar">&times;</button>
    <label class="playlist-cover-placeholder" >
      <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden/>
      <img *ngIf="coverUrl; else defaultCover" [src]="coverUrl" alt="Cover" />
      <ng-template #defaultCover>
        <img src="https://res.cloudinary.com/dqk8inmwe/image/upload/v1750654271/SAVE_20250622_235018_fbbguo.jpg" alt="Placeholder" />
      </ng-template>
        <!-- <span class="upload-hint">Subir Imagen</span> -->
    </label>
    <div class="privacy-select">
    <label>
        <input type="radio" name="isPublic" [(ngModel)]="isPublic" [value]="true" />
        <span class="circle"></span>
        <span>Pública</span>
    </label>
    <label>
         <input type="radio" name="isPublic" [(ngModel)]="isPublic" [value]="false" />
         <span class="circle"></span>
         <span>Privada</span>
        </label>
    </div>

    <input
      class="playlist-name-input"
      type="text"
      [(ngModel)]="playlistName"
      maxlength="40"
      placeholder="Nombre de playlist"
    />
    <textarea
      class="playlist-description-input"
      [(ngModel)]="playlistDescription"
      maxlength="200"
      placeholder="Descripción de playlist"
    ></textarea>
    <button class="create-playlist-btn" (click)="onCreatePlaylist()">
      Listo
    </button>
  </div>
</div>
