<div *ngIf="playlist && !loading" class="playlist-detail-root">
  <div class="header" [ngStyle]="{'background-image': 'url(' + playlist.url_image + ')'}">
    <h1>{{ playlist.name }}</h1>
    <div class="details">
       {{ playlist.createdAt | date }} &bull; {{ playlist.songs.length }} Canciones
    </div>
  </div>

  <div class="controls">
  <button title="Reproducir">&#9654;</button>
  <button title="Aleatorio">🔀</button>
  <button title="Más opciones" (click)="showMenu = true">&#8942;</button>
</div>
  <app-playlist-options-popup
    [visible]="showMenu"
    (edit)="onEditPlaylist()"
    (delete)="onDeletePlaylist()"
    (close)="showMenu = false">
  </app-playlist-options-popup>

  <app-confirm-delete-dialog
  [visible]="showDeleteDialog"
  message="¿Seguro que quieres borrar la playlist?"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()">
</app-confirm-delete-dialog>

<app-playlist-songs-edit-list
  *ngIf="playlist &&showEditDialog"
  [songs]="playlist.songs"
  [playlistId]="playlist.playlistId"
  (songRemoved)="onSongRemoved($event)"
  (close)="onCloseEditDialog()">
</app-playlist-songs-edit-list>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th class="play-col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of playlist.songs; let i = index">
        <td class="number">{{ i + 1 }}</td>
        <td>
          <div class="song-title">{{ song.title }}</div>
          <div class="artist">{{ song.artistName }}</div>
        </td>
        <td class="play-col">
          <button class="song-play-btn" title="Reproducir canción">&#9654;</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
