<div class="albums-list-container">
  <ng-container *ngIf="isLoading">
    <p>Cargando álbumes...</p>
  </ng-container>
  <ng-container *ngIf="error">
    <p>{{ error }}</p>
  </ng-container>
  <ng-container *ngIf="!isLoading && !error && albums.length === 0">
    <p>No hay álbumes para mostrar.</p>
  </ng-container>
  <ng-container *ngIf="!isLoading && !error && albums.length > 0">
    <div class="albums-list">
      <div class="album-card" *ngFor="let album of albums">
        <div class="album-image" [ngStyle]="{ 'background-image': album.cover ? 'url(' + album.cover + ')' : '' }"></div>
        <div class="album-info">
          <p class="album-name">{{ album.title }}</p>
          <p class="album-owner">{{ album.artistName }}</p>
<div class="dots" (click)="toggleAlbumMenu(album)">
  <span></span>
  <span></span>
  <span></span>
</div>
<div *ngIf="openMenuAlbumId === album.id" class="dropdown-menu">
  <button (click)="editAlbum(album)">Editar Álbum</button>
  <button (click)="confirmDeleteAlbum(album)">Eliminar Álbum</button>
</div>
        </div>
        <button class="play-button" [routerLink]="['/album', album.id]" title="Ver álbum"></button>
      </div>
    </div>
  </ng-container>
</div>

<app-edit-album-modal
  [show]="showEditModal"
  [album]="albumToEdit"
  (close)="closeEditModal()"
  (albumEdited)="fetchAlbums()"
></app-edit-album-modal>
