<div class="library-container">

<!-- 🔔 Nuevo Lanzamiento (Carrusel) -->
<div class="carousel-banner" *ngIf="latestSongsToday.length > 0">
  <div class="carousel-slider">
    <div
      class="banner-content"
      *ngFor="let song of latestSongsToday; let i = index"
      [class.slide-in-left]="i === currentSongIndex && slideDirection === 'left'"
      [class.slide-in-right]="i === currentSongIndex && slideDirection === 'right'"
      [class.hidden]="i !== currentSongIndex"
    >
      <img class="banner-image" [src]="getSafeImageUrl(song.imageUrl)" alt="Portada de {{ song.title }}" />
      <div class="banner-text">
        <div class="new-label">🎉 NUEVO LANZAMIENTO</div>
        <div class="new-release-title">{{ song.title }}</div>
        <div class="artist-name">por {{ song.artistName }}</div>
        <div class="subtitle">¡Escucha lo nuevo de {{ song.artistName }}!</div>
        
        <button class="play-btn" style="margin-left: 0.5rem" (click)="goToSong(song.id)">
          Ver canción
        </button>
      </div>
    </div>
  </div>

  <!-- 🔁 Controles -->
  <div class="carousel-controls" *ngIf="latestSongsToday.length > 1">
    <button class="carousel-btn prev" (click)="prevBanner()">‹</button>
    <button class="carousel-btn next" (click)="nextBanner()">›</button>
  </div>

  <!-- 🎬 YouTube player oculto -->
  <div style="display: none">
    <div id="yt-player-detail"></div>
  </div>
</div>

<h1 class="shortcut-title">Accesos directos</h1>

<div class="library-tabs">
    <span class="tab-active">Playlists</span>
 </div>

 <div class="playlists-grid">
    <div 
        class="playlist-card"
        *ngFor="let playlist of playlists"    
        tabindex="0"
        (click)="goToPlaylist(playlist.playlistId)"
        [attr.aria-label]="'Abrir playlist ' + playlist.name"
    >
        <div class="playlist-cover"
        [ngStyle]="{ 'background-image': playlist.urlImage ? 'url(' + playlist.urlImage + ')' : '' }" 
        ></div>
            <div class="playlist-info">
            <span class="playlist-name">{{ playlist.name }}</span>
            <span class="playlist-owner">{{playlist.owner}}</span>
            <button class="playlist-play-btn" 
            aria-label="Reproducir playlist"
            (click)="goToPlaylist(playlist.playlistId); $event.stopPropagation()">
            </button>
            </div>
        </div>
    </div>