html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden; 
  font-family: 'Manjari', sans-serif;
  padding-bottom: 53px; /* Espacio para el footer - igual a la altura del footer */
}
